html,
body,
.root {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  font-family: 'Poppins', 'Neuton', 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
